<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSAlertView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7EE037C1CE0F28000484DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7EE03951CE0F28000484DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7EE03A01CE0F28000484DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
